body, html {
	font-size: 11px;
}
a, a:link {
	text-decoration: none;
	border-bottom: 1px dotted blue;
	color: blue;
	cursor: pointer;
}
.hidden {
	display: none; 
	}

label {
	display:inline-block;
	width:60px;
	text-align:right;
	padding-right:2px;
}

input[type="submit"] {
	margin-left:122px;
}

div.user-login { width: 350px; margin: 20px 0; }

.dialog {
	width: 400px;
}